*{
    font-family: monospace;
    box-sizing: border-box;
    /* background: black;
    color: white; */
}

.container {
    margin-bottom: 20px;
    margin-top: 20px;
}

.button{
    width: max-content;
    padding: 5px;
    margin-right: 5px;

    border-radius: 0;
    /* border: .5px solid black; */
    border: none;

    cursor: pointer;

    outline: none;
}
.button:disabled{
    border-color: #aaa;
    background-color: #aaa!important;
}

.input{
    padding: 10px 15px;
    /* border: .5px solid black; */
    border: none;
    background-color: #f5f5f5;
    border-radius: 0;

    outline: none;
}


.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.header-nav__links{
    list-style: none;
}

.header-nav__logout{
    background: tomato;
    cursor: pointer;
}

.header-cost-form {
    width: max-content;
}

.month-row__th{
    text-align: left;
}
.month-row__th--actions{
    text-align: center;
}

.month-row__td{
    padding:5px;
}

.month-row__td--actions {
    text-align:right!important;
    display:flex;
    justify-content:center; 
}

.header-cost-form__submit{
    cursor: pointer;
}

.month-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.month-row__col {
    padding: 5px;
    box-sizing: border-box;
}
.month-tow__total-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.month-row__total{
    text-align: right;
    font-size: 25px;
}

.month-row__month {
    margin-bottom: 15px;
}

.month-row__th--amount{
    text-align: right;
}
.month-row__td--amount{
  text-align: right;
}
.month-row__td--date{
    display: flex;
    align-items: center;
}
.month-row__edit{
    background-color: #ffdd57;
    }

.month-row__delete{
background-color: #f14668;
}
.month-row__save{
    background-color: #48c774;
}
.month-row__cancel{
    background-color: #ffdd57;
}

.month-row__prince-table {
    width: 100%;
}

.notification{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.notification__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 10px);
    margin:8px;
    padding: 5px;


    color: white;

    animation-name: notification;
    animation-duration: 1s;
}

.notification__item--success{
    background-color: #3ec46d;
}
.notification__item--error{
    background-color: #f14668;
}

.notification__close {
    background-color:white;
    border:none;
}


@keyframes notification {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (min-width:980px) {
    .month-row__col {
        flex-basis: 49.5%;
    }
}