body {
	//font-family: 'Muli', sans-serif;
	font-family: 'Varela Round', sans-serif;
}

.hide {
	display: none;
}

header {
	background-color: $main-light;
	.navbar {
		background-color: transparent;
		.navbar-end {
			.navbar-link.username {
				.user-avatar {
					border-radius: 100%;
					margin-right: 10px;
				}
			}
		}
	}
}

.card {
	border-radius: 5px;

	.card-header {
		border-radius: 5px;
	}
}

.navbar {
	.navbar-item {
		@include regular-text-font-styles;
	}
}

.columns {
	margin-top: 0 !important;
}

.menu {
	.menu-label {
		font-size: 10px;
	}
	.menu-list {
		li {
			@include regular-text-font-styles;
			a {
				padding: 0.5em;
			}
		}
	}
}
