$modal-background-background-color: rgba(0, 0, 0, 0.5) !important;
$card-shadow: none;
$card-header-shadow: none;
$table-cell-border: none;
$card-content-padding: 5px;
$card-header-padding: 10px;
// $navbar-dropdown-radius: 0;
$navbar-dropdown-boxed-shadow: none !important;

$modal-card-head-radius: 5px;
$modal-card-foot-radius: 5px;
$modal-content-width: 400px;
@import '~bulma/bulma';
