@import './bulma';
@import './variables';
@import './mixins';
@import './base.scss';

.dashboard {
	.entry-section {
		.card {
			background-color: $main-light;
			.card-header {
				background-color: $main-dark;
				.card-header-icon {
					.tag {
						background-color: $main-darker;
						color: white;
						font-weight: 900;
					}
				}
			}

			.table {
				background-color: transparent;
				tr {
					th {
						&.actions {
							text-align: center;
						}
					}
					td {
						padding-bottom: 12px;
						.buttons.action-buttons {
							min-width: 95px;
							justify-content: center;
							align-items: center;

							.button {
								font-size: 10px;
								font-weight: 700;
								padding: 5px !important;
								min-width: 50px;
							}
						}
					}
				}
			}
		}
	}

	.visualizations {
		#month-toggler {
			background-color: $main-dark;
		}

		.card {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;
			padding: 10px;

			.card-title {
				text-transform: uppercase;
				margin-bottom: 10px;
				font-size: 12px;
			}
		}

		.progressbars {
			.card {
				background-color: $main-light;

				.single {
					display: flex;
					align-items: center;
					width: 100%;

					progress {
						margin-bottom: 0;
					}

					.goal {
						@include small-text-font-styles;
						flex-basis: 180px;
						text-align: right;
					}
				}

				.progress {
					margin-bottom: 5px;
				}
				.progress-title {
					flex-basis: 180px;
					@include small-text-font-styles;
					text-transform: uppercase;
				}
			}
		}
	}

	//model at the end of the page
	#entryModel {
		.modal-card-title {
			font-size: 16px;
			font-weight: bold;
		}
		form {
			.field {
				.select {
					width: 100%;
					select {
						width: 100%;
					}
				}
			}
			.modal-card-foot {
				padding: 20px;
				.field {
					width: 100%;
					margin-bottom: 0;
				}

				.update-field {
					.buttons {
						justify-content: space-between !important;
						.button {
							flex-basis: 48%;
							width: 100%;
						}
					}
				}
			}
		}
	}

	//add entry model toggler button
	#add-entry-button {
		position: fixed;
		right: 20px;
		bottom: 20px;
	}

	//notification
	#notification {
		position: fixed;
		bottom: 20px;
		left: 32px;
		width: 450px;

		padding: 10px;

		z-index: 99;
		margin: auto;

		@include regular-text-font-styles;
		transition: all 0.5s ease-in-out;

		&.hide-transform {
			transform: translateY(64px);
		}

		.text-container {
			display: flex;
			align-items: center;

			.icon {
				margin-right: 8px;
			}
		}
	}
}
